{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<div class="sideBar">
		<div class="sideBar__section">
			<div class="sideBar__item"><a href="https://t.me/Jandarbeek">J</a></div>
			</div>
			<div class="sideBar__item"><a href="https://t.me/llamisernig">T</a></div>
			</div>
			<div class="sideBar__item"><a href="https://t.me/Sharkkk1711">Sh</a></div>
			</div>
		</div>
	</div>
</body>
</html>